<div class="col-sm-12 col-xs-12">
	<div class="row">
		<gecategorieslist></gecategorieslist>

		<div class="col-xs-8 col-sm-8 main-content">
			<ng-include src="'app/shared/view/breadcrumb/breadcrumb.html'"></ng-include>

			<form class="form-horizontal" ng-submit="submitCategory()">
				<input type="hidden" name="id" ng-model='data.Category.id'/>

				<div class="alert alert-danger" ng-show="apiResponseError.hasError">
					<p ng-repeat="error in apiResponseError.errors">{{error}}</p>
				</div>
				<ul class="nav nav-tabs category" role="tablist">
					<li role="presentation" ng-repeat="(idx,lang) in langs" ng-class="{active: idx==0}">
						<a href="#{{lang.Language.id}}" aria-controls="{{lang.Language.id}}" role="tab" data-toggle="tab">
							{{lang.Language.name}}
						</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane" id="{{lang.Language.id}}" ng-repeat="(idx,lang) in langs" ng-class="{active: idx==0}">
						<div class="form-group">
							<label class="control-label col-sm-3 col-xs-12" for="name_{{lang.Language.id}}">
								Name <span class="required">*</span>
							</label>

							<div class="col-sm-8 col-xs-12">
								<input value=""
									   ng-model='data.CategoryName[idx].name'
									   name="name_{{lang.Language.id}}" id="name_{{lang.Language.id}}"
									   class="form-control"
									   type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3 col-xs-12" for="abbr_cd_{{lang.Language.id}}">
								SEO link <span class="required">*</span>
							</label>

							<div class="col-sm-8 col-xs-12">
								<input value=""
									   ng-model='data.CategorySeoLink[idx].abbr_cd'
									   name="abbr_cd_{{lang.Language.id}}" id="abbr_cd_{{lang.Language.id}}"
									   class="form-control"
									   type="text">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-3 col-xs-12" for="parent_id">
						Parent <span class="required">*</span>
					</label>

					<div class="col-sm-8 col-xs-12">
						<select ng-model='data.Category.parent_id' class="form-control"
								name="parent_id" id="parent_id">
							<option value="">No parent</option>
						</select>
					</div>
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-success">Edit</button>
					<button type="button" class="btn btn-danger">Delete</button>
					<button type="reset" class="btn btn-default" ng-click="go('/category')">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
