<div class="col-xs-4 col-sm-4 nav-main">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" ng-repeat="item in sidebar" ng-class="{active: item.location == currLocation}">
			<a href="" ng-click="go(item.link)">
				<i class="glyphicon {{item.icoClass}}"></i>
			</a>
		</li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="sidebarListContent">
			<additems></additems>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 nav-search">
		<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					  </span>
			<input type="text" class="form-control" placeholder="Search for..."/>
					  <span class="input-group-btn">
						<a class="btn btn-success" type="button" ng-click="go(moduleCreateLink)">
							<i class="glyphicon glyphicon-plus"></i>
						</a>
					  </span>
		</div>
	</div>
</div>